.toggleBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--text-muted);
    transition: all 0.2s;
    background: transparent;
}

.toggleBtn:hover {
    background: var(--surface);
    color: var(--primary);
}

[data-theme='dark'] .toggleBtn {
    color: var(--text-main);
}

[data-theme='dark'] .toggleBtn:hover {
    background: var(--surface);
    color: var(--primary);
}